

.heading span {
    color: #149ddd;
    /* rgb(115, 3, 167); */
}

.heading {
    font-size: 2.5rem;
    color: rgb(32, 32, 32);
    font-weight: 800;
    text-align: center;
}
.about {
    background: rgb(255, 255, 255);
  }

header .logo {
    font-size: 1.9rem;
    font-weight: 800;
    text-decoration: none;
    color: #0e2431;
  }
  header .logo i {
    font-size: 2.2rem;
  }
  header .logo:hover {
    color: #fc8c05;
  }

  /* skills section starts */
.skills {
    min-height: 90vh;
    background: linear-gradient(to bottom, #57059e, #4a00e0);
}

.skills h2 {
    color: #fff;
}

.skills .heading span {
    color: #149ddd;
     /* rgb(255, 230, 0); */
}

/* Migliora la larghezza e padding per una migliore distribuzione su schermi più larghi */
.skills .container {
    background: rgba(0, 0, 22, 0.4);
    color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 90%;
    margin: 2rem auto;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adattamento automatico delle colonne */

  }

.skills .container .row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); /* Adattamento automatico delle colonne */
  flex-wrap: wrap;
  gap: 0.5rem;
}
.skills .container .bar {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(201, 201, 201, 0.2);
    background: rgba(5, 5, 95, 0.9);
    transition: 0.2s;
    margin: auto;
  }

/* Effetto hover */
.skills .container .bar:hover {
    background-color :  #149ddd;
    /* rgb(255, 230, 0); */
    box-shadow: 0 8px 10px rgba(0, 2, 68, 0.8);
}

.skills .container .bar .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    align-items: center;

    margin-top: 1rem;
}

/* Icona all'interno della barra */
.skills .container .bar .info img {
    width: 80px; /* Imposta una dimensione fissa per tutte le icone */
    height: 80px;
    object-fit: contain; /* Mantiene le proporzioni dell'immagine */
}

/* Testo all'interno della barra */
.skills .container .bar .info span {
    font-size: 1.3rem;
    font-weight: 500;

    font-family: "Poppins", sans-serif;
}
/* Media queries per passare a un layout fluido su schermi più piccoli */

@media screen and (max-width: 1400px) {
    .skills .container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Layout fluido per schermi più piccoli */
    }
}

@media screen and (max-width: 1200px) {
    .skills .container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Layout fluido per schermi più piccoli */
    }
}

@media screen and (max-width: 768px) {
    .skills .container {
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Ulteriore adattamento per schermi più piccoli */
    }
}

@media screen and (max-width: 480px) {
    .skills .container {
        grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); /* Adattamento per schermi mobili */
    }

    .skills .container .bar .info img {
        width: 50px; /* Riduzione dimensione delle icone su dispositivi piccoli */
        height: 50px; /* Riduzione dimensione delle icone su dispositivi piccoli */
    }

    .skills .container .bar .info span {
        font-size: 1.4rem; /* Riduzione del testo per dispositivi più piccoli */
    }
}

  /* skills media queries ends*/
  /* skills section ends */
  

/* education section starts */
.education {
    background: #e5ecfb;
    min-height: 80vh;
}

.education .qoute {
    font-size: 1.5rem;
    text-align: center;
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}

.education .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.education .box-container .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    margin-top: 1.5rem;
    overflow: hidden;
    transition: 0.3s;
    background: rgb(252, 252, 252);
}

.education .box-container .box:hover {
    transform: scale(1.03);
    box-shadow: 1rem 0.5rem 1.2rem rgba(0, 0, 0, 0.3);
}

.education .box-container .box .image {
    flex: 1 1 20rem;
    width: 100%;
}

.education .box-container .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.education .box-container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
}

.education .box-container .box .content h3 {
    font-size: 2rem;
    color: #012970;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
}

.education .box-container .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    text-align: left;
}

.education h4 {
    font-size: 1.5rem;
    color: rgb(34, 109, 0);
    text-align: left;
    margin: 0.5rem;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

/* education media queries starts*/
@media screen and (max-width: 600px) {
    .education .box-container .box {
        flex-direction: column;
        width: 100%;
    }

    .education .box-container .box .image {
        width: 100%;
        height: 25rem;
    }

    .education .box-container .box img {
        width: 100%;
    }

    .education .box-container .box .content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        flex-wrap: wrap;
        flex: 0;
    }

    .education .btns {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        flex-wrap: wrap;
    }
}

/* education media queries ends*/
/* education section ends */


/* experience section starts */
.experience .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  .experience .timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background: #020133;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -2;
  }
  .experience .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  /*circles on timeline*/
  .experience .container::after {
    content: "\f0b1";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(255, 255, 255);
    border: 4px solid #ff9f55;
    top: 15px;
    border-radius: 50%;
    z-index: 100;
    font-size: 1.89rem;
    text-align: center;
    font-weight: 600;
    color: #02094b;
    font-family: "Font Awesome\ 5 Free";
  }
  .experience .left {
    left: -25%;
  }
  .experience .right {
    left: 25%;
  }
  /* arrows pointing right */
  .experience .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #f68c09;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #f68c09;
  }
  /* arrows pointing left  */
  .experience .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #f68c09;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f68c09 transparent transparent;
  }
  .experience .right::after {
    left: -16px;
  }
  .experience .content {
    background-color: #f68c09;
    position: relative;
    border-radius: 6px;
  }
  .experience .content .tag {
    font-size: 1.3rem;
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
  .experience .content .desc {
    margin-left: 1.5rem;
    padding-bottom: 1rem;
  }
  .experience .content .desc h3 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  .experience .content .desc p {
    font-size: 1.2rem;
  }
  /* view all button */
  .morebtn {
    display: flex;
    justify-content: center;
  }
  .morebtn .btn {
    position: relative;
    line-height: 0;
    padding: 1.6rem 3rem;
    border-radius: 0.5em;
    transition: 0.5s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    text-align: center;
  }
  .morebtn .btn span {
    font-weight: 600;
    font-size: 1.7rem;
    font-family: "Nunito", sans-serif;
  }
  .morebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.5rem;
    transition: 0.3s;
  }
  .morebtn .btn:hover {
    background: #1a047e;
  }
  .morebtn .btn:hover i {
    transform: translateX(5px);
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    .experience {
      min-height: 80vh;
    }
    .experience .timeline {
      margin-top: 2rem;
    }
    .experience .timeline::after {
      left: 31px;
    }
    .experience .container {
      width: 100%;
      padding-left: 8rem;
      padding-right: 2rem;
    }
    .experience .container::after {
      font-size: 2.2rem;
    }
    .experience .container::before {
      left: 61px;
      border: medium solid #f68c09;
      border-width: 10px 10px 10px 0;
      border-color: transparent #f68c09 transparent transparent;
    }
    .experience .left::after {
      left: 15px;
    }
    .experience .right::after {
      left: 15px;
    }
    .experience .right {
      left: 0%;
    }
    .morebtn {
      margin-top: 3rem;
    }
  }
  /* experience media queries ends */
  /* experience section ends */
  